:root {
  /* change colors */
  /* background */
  --pf-global--BackgroundColor--100: rgb(248, 248, 248);
  --pf-global--BackgroundColor--150: #0ff;
  --pf-global--BackgroundColor--200: #0ff;
  --pf-global--BackgroundColor--light-100: rgb(255, 255, 255);
  --pf-global--BackgroundColor--light-200: #0ff;
  --pf-global--BackgroundColor--light-300: #0ff;
  --pf-global--BackgroundColor--dark-100: rgb(29, 36, 69);
  --pf-global--BackgroundColor--dark-200: #0ff;
  --pf-global--BackgroundColor--dark-300: #0ff;
  --pf-global--BackgroundColor--dark-400: #0ff;
  --pf-global--BackgroundColor--dark-transparent-100: rgba(3, 3, 3, 0.62);
  --pf-global--BackgroundColor--dark-transparent-200: rgba(3, 3, 3, 0.32);
  /* Text color */
  --pf-global--Color--100: rgb(29, 36, 69);
  --pf-global--Color--200: rgb(163, 166, 166);
  --pf-global--Color--300: #0ff;
  --pf-global--Color--400: #0ff;
  /* on-primary */
  --pf-global--Color--light-100: rgb(29, 36, 69);
  --pf-global--Color--light-200: #0ff;
  --pf-global--Color--light-300: #0ff;
  /* icon */
  --pf-global--Color--dark-100: #151515;
  --pf-global--Color--dark-200: #6a6e73;
  /* active */
  --pf-global--active-color--100: rgb(109, 220, 145);
  --pf-global--active-color--200: #0ff;
  --pf-global--active-color--300: #0ff;
  --pf-global--active-color--400: rgb(109, 220, 145);
  /* disabled */
  --pf-global--disabled-color--100: rgb(163, 166, 166);
  --pf-global--disabled-color--200: rgb(248, 248, 248);
  --pf-global--disabled-color--300: #0ff;
  /* primary */
  --pf-global--primary-color--100: rgb(109, 220, 145);
  --pf-global--primary-color--200: rgb(132, 225, 162);
  --pf-global--primary-color--light-100: rgb(109, 220, 145);
  --pf-global--primary-color--dark-100: rgb(49, 55, 81);
  /* secondary */
  --pf-global--secondary-color--100: #0ff;
  /* default */
  --pf-global--default-color--100: #0ff;
  --pf-global--default-color--200: #0ff;
  --pf-global--default-color--300: #0ff;
  /* success */
  --pf-global--success-color--100: rgb(109, 220, 145);
  --pf-global--success-color--200: #0ff;
  /* info */
  --pf-global--info-color--100: #0ff;
  --pf-global--info-color--200: #0ff;
  /* warning */
  --pf-global--warning-color--100: rgb(240, 231, 218);
  --pf-global--warning-color--200: #0ff;
  /* danger */
  --pf-global--danger-color--100: rgb(179, 51, 73);
  --pf-global--danger-color--200: rgb(179, 51, 73);
  --pf-global--danger-color--300: rgb(179, 51, 73);
}
.kcHtmlClass body {
  background: url(https://a.storyblok.com/f/116218/3840x960/5693b14f00/numbersfigures-desktop.png/m/)
    no-repeat left bottom fixed;
  /* background-color: #0ff; */
  background-size: contain;
}

.kcHeaderWrapperClass {
  color: var(--pf-global--Color--100);
}
